/*--------------Navbar---------------*/
.nav__menu {
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
}

.nav__menu a {
  padding: 1.4rem 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.1rem;
  position: relative;
  z-index: 1;
}

.nav__menu ul a {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.nav__menu ul > li:hover > a {
  background: rgba(255, 255, 255, 0.15);
}

.nav__menu .is-parent > a > span.is-arrow::after,
.nav__menu ul .is-parent > a > span.is-arrow::after {
  border: 2px solid;
  width: 8px;
  height: 8px;
  margin-top: -3px;
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
  margin-left: 0.75rem;
  transition: -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.dropdown-menu {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.dropdown-menu ul {
  text-align: left;
  display: none;
}

.dropdown-menu ul.is-active {
  display: block;
}

.dropdown-menu .is-arrow {
  margin-left: auto;
}

.dropdown-menu .is-parent > a .is-arrow::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px dashed;
  margin-left: 0.5rem;
}

.dropdown-menu > li {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.dropdown-menu li > ul {
  background-color: var(--black-dark);
}

@media (min-width: 992px) {
  .dropdown-menu {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }

  .dropdown-menu ul {
    top: 0;
    left: 100%;
    position: absolute;
    min-width: 100%;
  }

  .dropdown-menu a {
    white-space: nowrap;
  }

  .dropdown-menu > li > ul {
    top: 100%;
    left: 0;
  }

  .dropdown-menu ul .is-parent > a .is-arrow::after {
    border-left: 4px dashed;
    border-right: 0 transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}